$mainBgColor: #111011;

$mainTextColor: #fffeff;
$secondaryTextColor: #8f8e8f;

$borderColor: #515051;

$primaryColor: #7c2897;
$secondaryColor: #b296da;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $mainBgColor;
  color: $mainTextColor;
}

::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d; /* Dark thumb color */
}
